<h1>Chuck Norris Jokes</h1>

<%= form_with url: jokes_path, method: :get, local: true do %>
  <%= label_tag :query, "Search Jokes" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<ul class="grid-list">
  <% @jokes.each do |joke| %>
    <li><%= link_to joke.joke_text.truncate(50), joke_path(joke) %></li> <!-- Limit joke text to 50 characters -->
  <% end %>
</ul>
