<h1>Chuck Norris Joke</h1>

<p><strong>Joke:</strong> <%= @joke.joke_text %></p>

<p><strong>Categories:</strong>
  <% if @joke.categories.any? %>
    <ul>
      <% @joke.categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li> <!-- Link to category show page -->
      <% end %>
    </ul>
  <% else %>
    <%= link_to "Uncategorized", category_path("uncategorized") %> <!-- Link to uncategorized page -->
  <% end %>
</p>

<p><strong>API URL:</strong> <%= link_to @joke.url, @joke.url, target: "_blank" %></p>
<img src="<%= @joke.icon_url %>" alt="Chuck Norris Icon">
